<div class="col-lg-4 "style="padding-top: 25px">
    <button type="submit" class="btn btn-lg btn-block" ng-click="ui.getAppointment();" style="background-color: #007399; color: white"><a href="#/client-view" >CLIENT</a></button>
    <button type="submit" class="btn btn-lg btn-block" ng-click="ui.getAppointment();" style="background-color: #007399; color: white"><a href="#/login" >DOCTOR</a></button>
    <!--<button type="submit" class="btn btn-lg btn-block" ng-click="ui.getAppointment();" style="background-color: #007399; color: white"><a href="#/login-after-view" >DOCTOR</a></button>-->
</div>