<div class="col-lg-4" style="height: calc(100vh-100px)">
    <div class=" col-xs-12 btn-group no-padding" style="margin-top: 10px;margin-bottom: 10px">
        <label class="col-xs-6 btn btn-primary btn-lg" ng-model="radioModel" ng-click="ui.changeView('CHANNEL')" uib-btn-radio="'Channel'">Channel</label>
        <label class="col-xs-6 btn btn-primary btn-lg" ng-model="radioModel" ng-click="ui.changeView('UPDATE')" uib-btn-radio="'Update'">Update</label>
    </div>

    <div class="col-xs-6" style="background-color: #009688;height: 52px; margin-bottom: 10px">
        <div class="input-group" style="margin-top: 8px">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input id="doctor-input" class="form-control" ng-model="model.appointment.date" placeholder="date" type="text" disabled>
        </div>
    </div>
    <div class="col-xs-6" style="background-color: #009688;height: 52px; margin-bottom: 10px">
        <div class="input-group" style="margin-top: 8px">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <input id="doctor-input" class="form-control" ng-model="model.appointment.location" placeholder="Location" type="text" disabled>
        </div>

    </div>

    <div class="no-padding" ng-show="ui.mode === 'UPDATE'">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                <input class="form-control" type="time"  ng-model="model.appointment.startTime">            
                <a class="input-group-addon ui-action-popover" ><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
        <div class="form-group" >
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                <select class="form-control" ng-model="model.appointment.availability">
                    <option value="AVALABLE">AVALABLE</option>
                    <option value="NOT AVALABLE">NOT AVALABLE</option>
                </select>   
                <a class="input-group-addon ui-action-popover" ><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
        <div class="form-group" >
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-adn"></i></span>
                <select class="form-control" ng-model="model.appointment.activeStatus">
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="DEACTIVE">DEACTIVE</option>
                </select>   
                <a class="input-group-addon ui-action-popover" ><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
<!--        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-coffee"></i></span>
                <textarea class="form-control" placeholder="Special Reason" style="height:13vh" ng-model="model.appointment.specialRemark"></textarea>
                <a class="input-group-addon ui-action-popover" ><i class="fa fa-question-circle"></i></a>
            </div>
        </div>-->
        <button type="submit" class="btn btn-lg btn-block" ng-click="model.saveAppointment();" style="background-color: #007399; color: white">UPDATE APPOINTMENT</button>
    </div>

    <div class="no-padding" ng-show="ui.mode === 'CHANNEL'">
        <div class="col-xs-3 form-group" >
            <i class="fa fa-step-backward" ng-click="ui.backAndPendingChannels()" style="font-size: 40px;margin-top: 50px;padding-left: 50px;"></i>
        </div>
        <div class="col-xs-6 form-group" >
            <center>
                <i class="fa fa-medkit" style="font-size: 22px;margin-top:10px ">&nbsp;Runing No</i>
                <div>
                    <a class="zoom-fab zoom-btn-large" style="font-size: 40px">{{model.appointmentDetail.appointmentNo}}</a>
                </div>
                <i class="fa fa-stop-circle" ng-click="ui.canselAndNextChannel()"  style="font-size: 40px;margin-top:24px "></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-mail-forward" ng-click="ui.skipAndNextChannel()"  style="font-size: 40px;margin-top:24px "></i>
            </center>
            <div style="position: absolute;display: block;left: -90px;margin-top: -167px;">
                <center>
                    <i class ="fa fa-medkit" style="font-size: 15px;margin-top:0px ">&nbsp;Total</i>
                    <div>
                        <a class="zoom-fab-small zoom-btn-small" style="font-size: 40px">{{model.appointmentCount.total}}</a>
                    </div>
                </center>
            </div>
            <div style="position: absolute;display: block;right: -90px;margin-top: -167px;">
                <center>
                    <i class ="fa fa-medkit" style="font-size: 15px;margin-top:0px ">&nbsp;Pending</i>
                    <div>
                        <a class="zoom-fab-small zoom-btn-small" style="font-size: 40px">{{model.appointmentCount.pending}}</a>
                    </div>
                </center>
            </div>
            <!--<a class="zoom-fab-small zoom-btn-small" style="position: absolute;display: block;right: -90px;margin-top: -156px;font-size: 40px">{{model.appointmentDetail.appointmentNo}}</a>-->
        </div>
        <div class="col-xs-3 form-group">
            <i class="fa fa-step-forward" ng-click="ui.nextAndDoneChannels()" style="font-size: 40px;margin-top:50px "></i>
        </div>

        <div class="col-xs-12" style="background-color: #009688;height: 50px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 10px">
            <center>
                <table>
                    <th ng-repeat="skipAppointment in model.skipAppointmentList| filter:model.search.name | orderBy:'indexNo'">
                        <div>
                            <a class="zoom-fab-small zoom-btn-small" ng-click="ui.getSelectSkipNo(skipAppointment, $index)" style="font-size: 40px">{{skipAppointment.appointmentNo}}</a>
                        </div>
                    </th>
                </table>
            </center> 
        </div>
        <div class="col-xs-12" style="background-color: #007399;height: 50px;padding-top: 5px;padding-bottom: 5px;">
            <center>
                <table>
                    <th ng-repeat="cancelAppointment in model.cancelAppointmentList| filter:model.search.name | orderBy:'indexNo'">
                        <div>
                            <a class="zoom-fab-small zoom-btn-small" style="font-size: 40px">{{cancelAppointment.appointmentNo}}</a>
                        </div>
                    </th>
                </table>
            </center>
        </div>
    </div>

</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.backButtonMode === 'IDEAL' || ui.backButtonMode === 'SELECTED'" ng-click="ui.back();"><i class="glyphicon glyphicon-arrow-left"></i></a>
</div>
